.preview {
    text-align: center;
    .head {
        margin: 20px;
        img {
            height: 80px;
        }
        span {
            font-size: 30px;
            margin-left: 20px;
        }
    }
}
