{
    "extends": [
        "react-app",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "import/first": 0,
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "tabWidth": 4,
                "singleQuote": true,
                "trailingComma": "all",
                "bracketSpacing": true,
                "semi": true,
                "useTabs": false,
                "parser": "flow",
                "jsxBracketSameLine": false
            }
        ],
        "eol-last": [
            "error",
            "always"
        ]
    }
}