.side-menu {
  background: #eceff1;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #616161; }
  .side-menu-list {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .side-menu .list-group-item {
    border-radius: 0; }
  .side-menu .list-group-item button {
    text-transform: capitalize;
    width: 100%;
    text-align: left; }
  .side-menu .fa {
    margin-right: 10px; }
  .side-menu button {
    background: none;
    border: none;
    color: #616161;
    padding: 5px;
    margin: 0;
    box-shadow: none; }
    .side-menu button:hover, .side-menu button:active, .side-menu button:target {
      background: none;
      color: #424242;
      text-decoration: underline; }
  .side-menu .title {
    font-size: 20px;
    padding: 15px; }
  .side-menu-add-source {
    position: relative;
    bottom: 20px;
    width: 100%; }
    .side-menu-add-source > div {
      text-align: center;
      width: 200px;
      margin: 0 auto; }
    .side-menu-add-source button {
      border: 1px dashed #424242;
      color: #424242;
      background: none;
      width: 100%;
      padding: 10px; }
      .side-menu-add-source button:hover {
        background: #0D47A1;
        color: #eceff1;
        text-decoration: none;
        border: none; }
  .side-menu .group {
    margin-top: 20px; }
  .side-menu .bottom-actions {
    width: 100%; }

.side-menu-content {
  margin-left: 250px; }
