.side-menu {
  background: #eceff1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  color: #616161;
  padding: 20px; }
  .side-menu .title {
    font-size: 20px; }
  .side-menu-add-source {
    position: absolute;
    bottom: 20px;
    width: 210px; }
    .side-menu-add-source > div {
      text-align: center; }
    .side-menu-add-source button {
      border: 1px dashed #424242;
      color: #424242;
      background: none;
      width: 100%; }
  .side-menu .group {
    margin-top: 20px; }
    .side-menu .group button {
      background: none;
      border: none;
      color: #616161;
      padding: 5px;
      margin: 0; }
    .side-menu .group .group-name .fa {
      margin-right: 10px; }
    .side-menu .group .group-items {
      margin-left: 30px; }
